.footer-link {
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #28a745 !important;
    /* تغيير اللون عند التمرير */
    text-decoration: underline;
}

.social-icon {
    font-size: 1.3rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #28a745 !important;
}